@import 'tailwindcss';

:root {
	--blue: #03b9ce;
	--grey: #f0f0f0;
}

html,
body {
	margin: 0;
	font-family:
		'MS Sans Serif',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		sans-serif;
	overflow: hidden;
	background-color: var(--blue);
	letter-spacing: 2px;
}

h1 {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 0;
}
